{% extends "layout.html" %}


{% block title %}
    History
{% endblock %}


{% block main %}
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Method</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <th class="text-start">{{ transaction.symbol }}</th>
                <th class="text-end">{{ transaction.process_shares }}</th>
                <th class="text-end">{{ transaction.price | usd }}</th>
                <th class="text-end">{{ transaction.method }}</th>
                <th class="text-end">{{ transaction.time | timeformat}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}